.navbar{
    background-color: #090909 !important;
    height: 15vh;
}

.navbar a{
    color: #ffffff !important;
}
.icons{
    position: relative;
    left: 90%;
    font-size: 1.2rem;  
}
.icons i{
    transition: all 0.2s ease-in-out;
}
.icons i:hover{
    color: #ec8e36 !important;
}

.navbar .navbar-toggler-icon{
    display: none;
}

@media only screen and (max-width: 600px){
    .brand{
        font-size: 0.8rem !important;
        position: relative;
        bottom: 1rem;
    }
    .brand-ico{
        width: 5% !important;
    }
}